RAW_VFS_DATA
.svn
AstroMenaceSource
*.zip
*.png
*.cbp
*.txt
Makefile
cmake_install.cmake
CMakeFiles/
AstroMenace
gamedata.vfs
astromenace/
build-patch-Desktop-Debug/
patch.pro.user
.qmake.stash
astromenace_patch_code
*.o
Makefile.Debug
Makefile.Release
